body{
	font-family: sans-serif;
	background-color: rgba(250, 119, 230 , 0.3);
}

/*::class name we are applying css pseudo Element.*/
.first-latter::first-line{
		font-size: 1.5rem;
		font-weight: bold;
		text-transform: unset;
}

#before-after:before{
	content: 'Before ';
	font-size: 1.5rem;
	font-weight: bold;

}

#before-after:after{
	/*content: ' After';*/
	/*we can also inset image by using after pseudo element*/
	content: '';
	display: inline-block;
	height: 40px;
	width: 40px;
	background-size: contain;
	background-image: url(Images/Danish.jpeg);
	font-size: 1.5rem;
	font-weight: bold;
}

/*we can also use before and after pseudo element in list item.*/
#list{
	list-style-type: none;
	font-size: 1.5rem;

}
li::before{
	content: '';
	display: inline-block;
	height: 40px;
	width: 40px;
	background-size: contain;
	background-image: url(Images/Danish.jpeg);
}