#div1{
	height: 100vh;
	width: 100vm;
	background-image: url(Images/macbook_mouse.jpg);
	background-repeat: no-repeat;
	background-position: center;
	/*background-size: 750px 600px;*/
	background-size: contain;
	background-attachment: fixed;
	background-color: red;

}

/*Margin is the space b/w two elements.*/
#margin1{
	height: 200px;
	width: 200px;
	background-color: orange;
	border: 4px solid red;
	margin: 10px;

	/* Padding is space within an element (b/w content and border)*/
	padding: 10px;
}

#margin11{
	height: 50%;
	width: 50%;
	border: 4px solid black;
	background-color: cyan;
	padding: auto;
}

#margin2{
	height: 200px;
	width: 200px;
	background-color: green;
	border: 4px solid black;
	margin: 30px;
}

/* Display Property */
#margin2 , #margin1 , #margin11{
	display: inline;
}
span{
	display: block;
}